extends includes/layouts/Guest.pug

block pages
  .CategoryPage 
    .container
      .CategoryPage-wrapper.flex.items-start
        .CategoryPage-wrapper-item
          +Card({ title: 'Dữ liệu ngành công thương', seeMore: false, noPadding: true })
            .CategoryPage-lists
              each item in dataCategory1
                a(href=item.link).CategoryPage-lists-item.flex.items-center
                  img(src="./assets/icons/icon-ruby.svg", alt="")
                  span= item.title

          +Card({ title: 'Dữ liệu cấp phép', seeMore: false, noPadding: true })
            .CategoryPage-lists
              each item in dataCategory2
                a(href=item.link).CategoryPage-lists-item.flex.items-center
                  img(src="./assets/icons/icon-ruby.svg", alt="")
                  span= item.title

          +Banner({ image: './assets/images/image-banner-1.png', text: 'Bản đồ hành chính tỉnh' })
          +Banner({ image: './assets/images/image-banner-2.png', text: 'Đăng ký doanh nghiệp trực tuyến' })
          +Banner({ image: './assets/images/image-banner-7.png', text: 'Lấy ý kiến nhân dân về DT VBQPPL' })
          +Banner({ image: './assets/images/image-banner-8.png', text: 'Công báo tỉnh Nam Định' })

          .CategoryPage-card
            include includes/containers/StatisticalAccess.pug
              
        .CategoryPage-wrapper-item
          +Card({ title: 'Thống kê dữ liệu / Khu công nghiệp', icon: 'home', seeMore: false })
            .CategoryPage-title Thống kê báo cáo

            .CategoryPage-filter.flex.flex-wrap
              +Select({ placeholder: 'Khu công nghiệp', options: [{ value: 1, label: 'Khu công nghiệp 1' }, { value: 2, label: 'Khu công nghiệp 2' }] })
              +Select({ placeholder: 'Quận/huyện', options: [{ value: 1, label: 'Quận/huyện 1' }, { value: 2, label: 'Quận/huyện 2' }] })
              +Select({ placeholder: 'Chọn tháng', options: [{ value: 1, label: 'Tháng 1' }, { value: 2, label: 'Tháng 2' }] })
              +Select({ placeholder: 'Chọn năm', options: [{ value: 1, label: 'Năm 1' }, { value: 2, label: 'Năm 2' }] })
              +Button({ title: 'Xem báo cáo', className: 'primary' })

            .CategoryPage-chart 
              <canvas id="myChart"></canvas>

            +Card({ title: 'Dữ liệu thương mại điện tử mới', seeMore: false, buttonTitle: 'Xuất excel' })
              +Table({})
                thead 
                  tr 
                    th(rowspan="2") STT
                    th(rowspan="2") Chỉ tiêu
                    th(rowspan="2").text-center Tổng số
                    th(colspan="4").text-center.border-white Chia theo khu vực kinh tế
                  tr
                    th.text-center.border-white.long-content Nhà nước
                    th.text-center.border-white.long-content Ngoài nhà nước
                    th.text-center.border-white.long-content có vốn đầu tư trực tiếp nước ngoài
                    th.text-center.border-white.long-content Khu vực khác
                tbody 
                  tr 
                    td A
                    td B 
                    td.text-center 1+2+3+4+5
                    td.text-center 2
                    td.text-center 3
                    td.text-center 4
                    td.text-center 5
                  each item in [1,2,3,4]
                    tr 
                      td= item
                      td.long-content Nông nghiệp, lâm nghiệp và thủy sản 
                      td.text-center 94
                      td.text-center 188
                      td.text-center 24
                      td.text-center 25
                      td.text-center 85
            